PORT= "Aqui tu puerto"

JWT_SECRET= "Aqui tu secret key"

MONGO_USER= "Aqui tu usuario de MongoDB"
MONGO_PASSWORD= "Aqui tu contraseña de MongoDB"
MONGO_CLUSTER= "Aqui tu cluster de MongoDB"
MONGO_DB= "Aqui tu nombre de base de datos de MongoDB"

SMTP_HOST= "Aqui tu host de correo electrónico"
SMTP_PORT= "Aqui tu puerto de correo electrónico"
SMTP_USER= "Aqui tu usuario de brevo"
SMTP_PASS= "Aqui tu contraseña de brevo"
SMTP_NAME= "Aqui tu nombre de correo electrónico"
SMTP_FROM= "Aqui tu correo electrónico de envío"
ADMIN_EMAIL= "Aqui tu correo electrónico de administrador"

CORS_ORIGINS= "Aqui tus origenes de CORS"

FRONTEND_URL= "Aqui tu URL del frontend"
